@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    background-color: #000000;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    grid-template-areas:
        "header header header"
        "main main main"
        "bigCard bigCard bigCard"
        "footer footer footer";
}

header {
    display: grid;
    grid-template-columns: 5rem 1fr 5rem;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "burger . ."
        ". h1 ."
        ". ninjaHead .";
}

.burger {
    padding: 2rem;
    grid-area: burger;
}

h1 {
    justify-self: center;
    grid-area: h1;
    font-family: 'Roboto', 'Fira Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6.375rem;
    color: #222222;
}

.ninjaHead {
    grid-area: ninjaHead;
    align-self: end;
    justify-self: center;
    margin-top: 2.5rem;
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
    margin: auto;
    grid-template-areas:
        ". astro ninja nerd ."
        ". läkare gitarr snorklare ."
        ". clown polis fe .";
}

figure {
    margin: 3rem 0;
}

figcaption {
    color: white;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h2 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

button {
    background-color: #E83F57;
    font-size: 0.75rem;
    padding: .6rem;
    width: 9rem;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: white;
    margin-top: auto;
}

button:hover {
    background-color: #f34e66;
}

button:active {
    transform: scale(.95);
}

.astronaut {
    grid-area: astro;
}

.ninja {
    grid-area: ninja;
}

.nerd {
    grid-area: nerd;
}

.läkare {
    grid-area: läkare;
}

.gitarr {
    grid-area: gitarr;
}

.snorklare {
    grid-area: snorklare;
}

.clown {
    grid-area: clown;
}

.polis {
    grid-area: polis;
}

.fe {
    grid-area: fe;
}

.smallCardImg {
    /* max-width: 21vw; */
    max-width: 20rem;
}



.headerGrid {
    grid-area: header;
    background-color: #3DE07E;
}

.mainGrid {
    grid-area: main;
    display: grid;
}

.bigCardGrid {
    grid-area: bigCard;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: ". fotograf fotograf tränare tränare .";
}

.bigCardImg {
    /* width: 32vw; */
    max-width: 30rem;
}

.bigCardCaption {
    color: #222222;
    padding: 1rem;
}

.fotograf {
    background-color: white;
    grid-area: fotograf;
    width: 30rem;
}

.tränare {
    background-color: white;
    grid-area: tränare;
    width: 30rem;
}

.storKnapp {
    height: 3rem;
    margin-top: auto;
}

.footerGrid {
    grid-area: footer;
    background-color: #FFFFFF33;
    color: white;
}

footer {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3rem 1fr 1fr;
    grid-template-areas:
        " . . . . . . . ."
        ". nav . address . socials . ."
        " . . . . . . . .";
}

ul {
    list-style-type: none;
}

.footerNav {
    grid-area: nav;
    justify-self: center;
    line-height: 1.5rem;
}

.footerH2 {
    margin-bottom: 1rem;
}

.footerAddress {
    justify-self: center;
    align-self: center;
    grid-area: address;
    width: 10rem;
    line-height: 1.5rem;
}

.footerH3 {
    font-size: 2.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
    width: 12.5rem;

}

.footerSocials {
    grid-area: socials;
    justify-self: end;
}

#socialWrapper {
    width: 11.2rem;
    display: flex;
    justify-content: space-between;
}